<div class="col-12">
  <div class="input-group col-6 col-offset-6">
    <input #searchBox id="search-box" (keyup)="search(searchBox.value)" class="form-control"
           placeholder="Search for products"/>
  </div>
  <div class="col-6 col-offset-6">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let commonProduct of (productData$ | async)?.common"
          (click)="products.add(commonProduct.food_name); searchBox.value=''; search(searchBox.value)">
        <img src="{{commonProduct.photo.thumb}}" alt="">
        {{commonProduct.food_name}}
      </li>
    </ul>
  </div>
  <app-products #products></app-products>
</div>
